.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;

}

.RBIA {
    height: 250px;
    width: 250px;
}

body {
    text-align: center;
    background: radial-gradient(#8B008B 0%, #DC143C 100%);
}

#Campus {

    width: 400px
}
#IntFt{
height: 250px    
}
#sprtd{
    height: 250px;
}